* {
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: inherit;
}

html {
  overflow-x: hidden;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #f8f3f7;
  display: flex;
  flex-direction: column;
}

select {
  font-size: 1rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

select {
  background: none;
  border: grey 1px solid;
  border-radius: 2px;
}

button[type=submit] {
  font-size: 1rem;
  height: 2rem;
  border-radius: 0.2rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  background: #261824;
  color: white;
  border: none;
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.2s;
}
button[type=submit]:hover {
  transform: scale(1.02);
  background-color: #452c42;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 4px #653f5f;
  background-color: white;
  border-radius: 0.5rem;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .card--horizontal {
    flex-direction: row;
  }
}
.card--reduced {
  flex-direction: row;
}
.card--click {
  transition: 0.2s;
  cursor: pointer;
}
.card--click:hover {
  box-shadow: 0 0 6px #452c42;
  transform: scale(1.01);
}
.card__img {
  width: 100%;
  object-fit: cover;
  flex: 1 10rem;
  min-height: 0;
}
@media screen and (min-width: 768px) {
  .card__img--horizontal {
    min-width: 20rem;
    flex: 1 40%;
  }
}
.card__content {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card__name {
  font-size: 1.4rem;
}
.card__price {
  font-size: 1.2rem;
}
.card__description {
  flex: 1;
}

.cart-item {
  display: flex;
  box-shadow: 0 0 4px #653f5f;
  background-color: white;
  border-radius: 0.2rem;
  overflow: hidden;
  height: 12rem;
}
.cart-item__img {
  width: 25%;
  min-width: 10rem;
  object-fit: cover;
}
.cart-item__content {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  flex: 1;
}
.cart-item__name {
  font-size: 1.4rem;
}
.cart-item__lens {
  font-weight: bold;
}
.cart-item__price {
  font-size: 1.4rem;
}
@media screen and (min-width: 576px) {
  .cart-item__price {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}
.cart-item__subtotal {
  font-size: 1.2rem;
}
@media screen and (min-width: 576px) {
  .cart-item__subtotal {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}
.cart-item__subtotal span:last-of-type {
  font-size: 1.4rem;
}
.cart-item__remove {
  color: #2c018e;
}
@media screen and (min-width: 576px) {
  .cart-item__remove {
    position: absolute;
    bottom: 1rem;
    left: 2rem;
  }
}
.cart-item__remove:hover {
  text-decoration: underline;
}

.header {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  max-width: 960px;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 1rem;
  color: white;
  font-size: 1.2rem;
  position: relative;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: auto;
  z-index: -1;
  width: 100vw;
  transform: translateX(-50%);
  background: #261824;
  box-shadow: 0 0 4px #653f5f;
}
.header__logo {
  height: 2rem;
}
.header i {
  font-size: 1.5rem;
}

.main {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  max-width: 1140px;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
}
.main--bg {
  background-color: white;
}
@media screen and (min-width: 576px) {
  .main--bg {
    box-shadow: 0 0 4px #653f5f;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
  }
}
.main__title {
  margin-left: 1rem;
  font-size: 2rem;
}

.list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: 2rem;
}
@media screen and (min-width: 576px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  background-color: white;
  box-shadow: 0 0 4px #653f5f;
  border-radius: 0.2rem;
  padding: 1rem 2rem;
  margin-top: 2rem;
}
.contact-form__title {
  margin-bottom: 1rem;
}
.contact-form label {
  font-weight: bold;
}
.contact-form input {
  margin-bottom: 0.5rem;
  outline: none;
  font-size: 1rem;
  background-color: white;
  border: solid 1px #261824;
  border-radius: 2px;
  padding: 3px 8px;
}
.contact-form input:focus {
  border-radius: 3px;
  padding: 2px 7px;
  border: solid 2px #362233;
}
.contact-form__error {
  text-align: center;
  background-color: #fef2de;
  border: 1px solid #D68A07;
  color: #734a04;
  padding: 0.3rem;
  border-radius: 3px;
}
.contact-form button[type=submit] {
  max-width: 40%;
  align-self: center;
}

.total-price {
  align-self: flex-end;
  font-size: 1.2rem;
  margin-right: 1rem;
}
.total-price__price {
  font-size: 1.4rem;
  font-weight: bold;
}

#orderNumber {
  align-self: center;
  font-size: 1.2rem;
  font-weight: bold;
}

#orderPrice {
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
