.footer {
    @include container-lg;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
    
    @include expanded-bg($color-primary, $shadow);
}