<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bdc3cb79cd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>Votre panier – Orinoco</title>
</head>
<body>
    <header class="header">
        <a href="../index.html" class="header__home">
            <img src="../media/logo.svg" alt="Orinoco" class="header__logo">
        </a>
        <a class="header__cart" href="./views/cart.html">
            <i class="fas fa-shopping-cart"></i>
            Panier&nbsp;: <span id="cart-preview"></span>
        </a>
    </header>
    
    <main class="main">
        <section class="section">
            <h1 class="main__title">Votre panier&nbsp;:</h1>
            <!-- Javascript is injected here -->
        </section>
        <p class="total-price">Prix total du panier&nbsp;:
            <span id="total-price" class="total-price__price"></span>
        </p>
        
        <form class="contact-form" id="contact-form">
            <h2 class="contact-form__title">Vos coordonnées&nbsp;:</h2>
            <label for="lastName">NOM :</label>
            <input type="text" data-type="name" id="lastName" name="lastName" required>
            <label for="firstName">Prénom :</label>
            <input type="text" data-type="name" id="firstName" name="firstName" required>
            <label for="address">Adresse :</label>
            <input type="text" data-type="address" id="address" name="address" required>
            <label for="city">Ville :</label>
            <input type="text" data-type="name" id="city" name="city" required>
            <label for="mail">Mail :</label>
            <input type="email" data-type="email" id="email" name="email" required>
            <button type="submit">Commander</button>
        </form>
    </main>
    
    
    <template id="product">
        <a class="cart-item">
            <img class="cart-item__img" alt="">
            <div class="cart-item__content">
                <h2 data-text="name" class="cart-item__name"></h2>
                <p>Objectif&nbsp;: <span data-text="lens" class="cart-item__lens"></span></p>
                <div data-text="price" class="cart-item__price"></div>
                <div class="cart-item__subtotal">
                    Sous-total&nbsp;(Qté&nbsp;: <span data-text="quantity"></span>)&nbsp;:
                    <span data-text="totalPrice"></span>
                </div>
                <div class="cart-item__remove">Supprimer</div>
            </div>
        </a>
    </template>
    
    <script src="../js/models/cart.js"></script>
    <script src="../js/functions.js"></script>
    <script src="../js/views/cart.js"></script>
</body>
</html>
