<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bdc3cb79cd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title></title>
</head>
<body>
    <header class="header">
        <a href="../index.html" class="header__home">
            <img src="../media/logo.svg" alt="Orinoco" class="header__logo">
        </a>
        <a class="header__cart" href="cart.html">
            <i class="fas fa-shopping-cart"></i>
            Panier&nbsp;: <span id="cart-preview"></span>
        </a>
    </header>
    
    <main id="camera" class="main">
        
    </main>
    
    <template id="product">
        <div class="card card--horizontal">
            <img class="card__img card__img--horizontal">
            <div class="card__content">
                <h1 data-text="name" class="card__name"></h1>
                <p class="card__price">Prix&nbsp;: <span data-text="price"></span></p>
                <p data-text="description" class="card__description"></p>
                <p class="card__options">
                    <label for="lens">Objectif&nbsp;:</label>
                    <select data-append="lens" name="lens" id="lens">
                        
                    </select>
                </p>
                <form id="addToCart" class="card__add-form add-to-cart">
                    <div>
                        <label for="quantity">Quantité&nbsp;:</label>
                        <select name="quantity" id="quantity">
                            <option default>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                        </select>
                    </div>
                    <button type="submit" class="card__button">
                        Ajouter au panier
                    </button>
                </form>
            </div>
        </div>
    </template>
    
    <script src="../js/models/cart.js"></script>
    <script src="../js/functions.js"></script>
    <script src="../js/views/product.js"></script>
</body>
</html>