<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bdc3cb79cd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <a href="../index.html" class="accueil">Accueil</a>
    <div id="camera" class="list">

    </div>
    <div class="cart">
        <img src="" alt="Panier" class="cart__img">
        <form id="addToCart" class="cart__add">
            <label for="quantity">Quantité&nbsp;:</label>
            <div class="cart__quantity">
                <a role="button" class="cart__minus" id="cart__minus" title="En retirer un">-</a>
                <input type="text" class="cart__number" id="quantity" name="quantity" value="1">
                <a role="button" class="cart__plus" id="cart__plus" title="En ajouter un">+</a>
            </div>
            <button type="submit">Ajouter au panier</button>
        </form>
    </div>

    <template id="product">
        <div class="card">
            <img class="card__img">
            <div class="card__content">
                <h2 data-text="name" class="card__name"></h2>
                <p data-text="price" class="card__price"></p>
                <p data-text="description" class="card__description"></p>
                <p class="card__options">
                    <label for="lens">Objectif&nbsp;:</label>
                    <select name="lens" id="lens">

                    </select>
                </p>
            </div>
        </div>
    </template>

    <script src="../models/functions.js"></script>
    <script src="../models/product.js"></script>
</body>
</html>