/* Cartes cliquables  */
.card {
    display: flex;
    flex-direction: column;
    box-shadow: $shadow;
    transition: .2s;
    cursor: pointer;
    background-color: white;
    border-radius: .5rem;
    overflow: hidden;

    &:hover {
        box-shadow: $shadow-strong;
        transform: scale(1.01);
    }

    &__img {
        width: 100%;
        object-fit: cover;
        flex: 0 1 10rem;
        min-height: 0;
    }

    &__content {
        padding: 1rem 2rem;
    }

    &__name {
        font-size: 1.4rem;
    }

    &__price {
        font-size: 1.2rem;
    }
}