/* Cartes cliquables  */
.card {
    display: flex;
    flex-direction: column;
    height: 15rem;
    box-shadow: $shadow;
    transition: .2s;
    cursor: pointer;
    background-color: white;
    border-radius: .5rem;
    overflow: hidden;

    &:hover {
        box-shadow: $shadow-strong;
        transform: scale(1.01);
    }

    &__img {
        width: 100%;
        object-fit: cover;
        flex: 0 1 10rem;
        min-height: 0;
    }
}