$color-primary: #261824;
$color-secondary: #8E5DFE;
$color-tertiary: #D68A07;
$color-light: #F3E9F1;

$gradient: linear-gradient($color-secondary, $color-tertiary);

$shadow: 0 0 4px lighten($color-primary, 20%);